doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/ally.css")
    link(rel="manifest", href="/manifest.json")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")

  body
    block content
    script(type='text/javascript', src='/javascripts/app.js')
